*{
    background-color: azure;
}
.forms{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-left: 30%;
}
td{
    height: 50px;
}
/* button{
    margin-top: 550px;
    margin-left: 1%;
} */